


<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="panel panel-default">
			<div class="panel-body">
				<form id="newTaskForm" onsubmit="tasksCtrl.addTask(event)">
					<div class="input-group" id="newTask">
						<div class="form-group">
							<input type="text" id="task" class="form-control" placeholder="New task..." onkeydown="tasksCtrl.removeErrorMessage()">
						</div>
						
						<div class="input-group-btn">
							<button id="save-btn" class="btn btn-success" type="submit">Save</button>
						</div>
					</div>
				</form>
			</div>
		</div>		
	</div>
</div>
<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="panel panel-default">
			<div class="panel-body" id="tasks-container">
				<!-- here will be list of tasks -->
			</div>
		</div>
	</div>
</div>

<script src="/todo-app/scripts/controllers/tasksCtrl.js"></script>
