.navbar{
    margin-bottom: 40px;
}

.navbar-header {
    float: none;
}
.navbar-brand {
    float: none;
    display: inline-block;
}

.mt40 {
    margin-top: 40px;
}

.task-row {   
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}
.task-row:last-child {
     border-bottom: none;
}
.task-row .remove {
    display: none;
    color: red;
    transition: .7;
    cursor: pointer;
}
.task-row:hover .remove {
    display: inline;    
}

.task-row.completed {    
    color: #ddd;
}
.task-row.completed label {
    text-decoration: line-through;
}

#newTask {
    position: relative;
}
#newTask .error-message {
    position: absolute;
    top: 35px;
    left: 0;
    color: red;
}
.error-alert {
    position: absolute;
    top: 25%;
    left: 40%;
    width: 250px;
    z-index: 3010;
}

.blocked {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.5;
    z-index: 3000;
}